.button {
	padding: 15px 30px;
	transition: .2s all;
	background-color: #EEEEEE;
	margin: 0;
	outline: none;
	border: 0;
	display: flex;
	justify-content: flex-start;
	border-radius: 5px; }
	.button:hover {
		padding: 15px 40px;
		background-color: #E0E0E0; }
	.button i {
		font-size: 25px; }
	.button p {
		transition: .2s all;
		padding-left: 20px;
		font-size: 18px;
		font-weight: 500; }
