#calender {
	border: none; }
	#calender .calender-inner {
		display: flex;
		flex-flow: column-reverse;
		flex-wrap: nowrap; }
		#calender .calender-inner .calender-dropdown {
			width: 100%;
			cursor: pointer;
			padding: 10px;
			transition: .2s all;
			display: flex;
			justify-content: center;
			align-content: center; }
			#calender .calender-inner .calender-dropdown:hover {
				background-color: #EEEEEE; }
			#calender .calender-inner .calender-dropdown i {
				margin-right: 10px;
				font-size: 24px; }
			#calender .calender-inner .calender-dropdown p {
				-webkit-user-select: none;
				font-size: 18px; }
			#calender .calender-inner .calender-main {
				display: flex;
				width: 100%;
				padding: 0;
				flex-wrap: nowrap; }
				#calender .calender-inner .calender-days {
					display: flex;
					flex-direction: column;
					width: 100%; }
					#calender .calender-inner .calender-days .calender-day {
						width: 100%;
						padding: 10px;
						border: none;
						border-bottom: 1px solid #EEEEEE;
						transition: .2s all;
						cursor: pointer; }
						#calender .calender-inner .calender-days .calender-day:hover {
							background-color: #EEEEEE;  }
						#calender .calender-inner .calender-days .calender-day p {
							-webkit-user-select: none;
							text-align: center;
							font-size: 14px; }
							#calender .calender-inner .calender-days .calender-day p .calender-day-week {
								display: inline-block; }
							#calender .calender-inner .calender-days .active p {
								border-color:  #ed174b;
								font-weight: 600; }
			#calender .calender-inner .calender-days .active {
				background-color: #EEEEEE; }
					#calender .calender-inner .calender-control {
						display: none;
						cursor: pointer;
						border-bottom: 4px solid #006bb7;
						justify-content: center;
						width: 100%;
						padding: 6px 0 0 0; }
						#calender .calender-inner .calender-control:hover {
							background-color: #EEEEEE; 
							border-bottom-color: #ed174b; }
							#calender .calender-inner .calender-control i {
								-webkit-user-select: none;
								font-size: 28px;
								color: #333;
								margin: 0; }

@media (min-width: 768px) {
	#calender .calender-inner {
		flex-direction: row; }
		#calender .calender-inner .calender-dropdown {
			padding: 7px;
			width: 20%; }
		#calender .calender-inner .calender-main {
			padding: 0 5px;
			width: 80%; }
			#calender .calender-inner .calender-days {
				flex-direction: row;
				width: 92%; }
				#calender .calender-inner .calender-days .calender-day {
					border-bottom: 4px solid #006bb7;
					padding: 6px;
					padding-top: 8px;
					padding-bottom: 8px;
					width: calc(100% / 7); }
					#calender .calender-inner .calender-days .calender-day:hover {
						border-color: #ed174b; }
					#calender .calender-inner .calender-days .calender-day p .calender-day-week {
						display: none; }
			#calender .calender-inner .calender-control {
				display: flex;
				padding-top: 4px;
				width: 4%; }
		#calender .calender-inner .calender-days .active {
			border-color: #000; }
}

@media (min-width: 992px) {
	#calender .calender-inner .calender-days .calender-day p .calender-day-week {
		display: inline-block; }
}

@media (min-width: 1200px) {
	
	#calender .calender-inner .calender-dropdown {
		padding: 9px;
		padding-bottom: 5px;
	}
	#calender .calender-inner .calender-days .calender-day {
		padding: 10px;
		padding-bottom: 8px; }
		#calender .calender-inner .calender-days .calender-day p {
			font-size: 16px; }
	#calender .calender-inner .calender-dropdown {
		width: 12%; }
	#calender .calender-inner .calender-main {
		width: 88%;
		padding: 0 20px; }
	#calender .calender-inner .calender-control {
		padding-top: 6px;
	}
}