#games-info {
	margin: 0;
	padding: 0; }
	#games-info .container {
		padding: 10px !important; }
		#games-info .container .col-sm-6 {
			height: 45px;
			align-items: center;
			padding: 0;
			display: flex; }
		#games-info .games-info-left {
			font-size: 18px;
			margin-bottom: 10px;
			justify-content: center; }
		#games-info .games-info-right {
			justify-content: center; }
			#games-info .games-info-right .games-info-right-inner {
				width: auto; }

		#games-info .games-info-button {
			transition: .2s all;
			padding: 10px;
			text-align: center;
			font-size: 18px;
			color: #000;
			display: flex;
			background-color: #F5F5F5;
			justify-content: flex-end;
			border-radius: 5px;
			border: none;
			outline: none;}
			#games-info .games-info-button i {
				margin-left: 10px; }
			#games-info .games-info-button:hover {
				padding: 10px 30px;
				background-color: #E0E0E0; }

@media (min-width: 768px) {
	#games-info .container {
		padding: 20px 10px 10px 10px !important; }
		#games-info .container .col-sm-6 {
			padding: 0 10px 0 10px; }
			#games-info .games-info-left {
				margin: 0;
				justify-content: flex-start; }
			#games-info .games-info-right {
				justify-content: flex-end; }
}


@media (min-width: 1024px) {
	#games-info .container {
		padding: 20px; }
	#games-info .container .col-sm-6 {
			padding: 0 20px 0 20px; }
}

@media (min-width: 1200px) {
	#games-info .container {
		padding: 20px 20px 0 20px !important;
	}
}