#game-grid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	padding: 5px;
	padding-bottom: 40px;
	margin: 0; }
	#game-grid .game {
		transition: .2s all;
		padding: 5px;
		cursor: pointer;
		width: 100%; }
		#game-grid .game .game-inner {
			transition: .3s all;
			border: 1px solid #E0E0E0;
			position: relative;
			background-color: #fff; }
			#game-grid .game .game-inner:hover .game-icon {
				display: block; }
			#game-grid .game .game-inner .game-break {
				flex-flow: row;
				align-items: center;
				display: flex; }
				#game-grid .game .game-inner .game-break hr {
					border-color: #E0E0E0;
					margin: 0;
					margin-top: 10px;
					margin-bottom: 10px;
					width: 42%; }
				#game-grid .game .game-inner .game-break p {
					text-align: center;
					width: 16%;
					font-size: 13px; }
			#game-grid .game .game-inner .game-icon {
				-webkit-user-select: none;
				transition: .3s all;
				position: absolute;
				display: none;
				padding: 14px 10px 10px 13px;
				margin: 5px;
				width: 50px;
				height: 50px;
				border-radius: 100%;
				cursor: pointer; }
				#game-grid .game .game-inner .game-icon i {
					font-size: 20px; }
					#game-grid .game .game-inner .game-icon:hover {
						background-color: #EEEEEE; }
			#game-grid .game .game-inner .game-star {
				top: 0;
				left: 0; }
			#game-grid .game .game-inner .game-more {
				top: 0;
				right: 0; }
			#game-grid .game .game-inner .game-share {
				bottom: 0;
				left: 0; }
			#game-grid .game .game-inner .game-expand {
				right: 0;
				bottom: 0; }
			#game-grid .game .game-inner .game-more-menu {
				display: none;
				right: 10px;
				top: 10px; }
			#game-grid .game .game-inner .game-share-menu {
				display: block;
				bottom: 10px;
				left: 10px; }
			#game-grid .game .game-inner .game-header {
				padding: 10px; 
				padding-top: 4px; }
				#game-grid .game .game-inner .game-header p {
					text-align: center;
					font-weight: 400;
					font-size: 14px; }
			#game-grid .game .game-inner .game-team {
				display: flex;
				justify-content: flex-start;
				justify-content: center;
				align-content: center;
				align-items: center;
				padding: 15px; }
				#game-grid .game .game-inner .game-team img {
					-webkit-user-select: none;
					width: 70px;
					height: 70px;
					margin: 0; }
				#game-grid .game .game-inner .game-team .game-team-text {
					padding: 10px;
					border-radius: 5px;
					font-weight: 400; }
					#game-grid .game .game-inner .game-team .game-team-text h4 {
						font-size: 14px; }
					#game-grid .game .game-inner .game-team .game-team-text h3 {
						font-size: 20px; }
					#game-grid .game .game-inner .game-team .game-team-text p {
						color: #9E9E9E;
						font-size: 16px; }
				#game-grid .game .game-inner .game-team .game-team-score {
					transition: .2s all;
					align-self: center;
					padding: 15px;
					font-size: 20px;
					font-weight: 600;
					letter-spacing: 1px; }

@media (min-width: 375px) {
	#game-grid .game .game-inner .game-header  p {
		font-size: 18px; }
	#game-grid .game .game-inner .game-team img {
		width: 100px;
		height: 100px; }
	#game-grid .game .game-inner .game-team .game-team-text {
		padding: 10px; }
		#game-grid .game .game-inner .game-team .game-team-text h4 {
			font-size: 16px; }
		#game-grid .game .game-inner .game-team .game-team-text h3 {
			font-size: 24px; }
	#game-grid .game .game-inner .game-team .game-team-score {
		font-size: 30px; }
	#game-grid .game .game-inner .game-break p {
		font-size: 16px;
	}
}

@media (min-width: 768px) {
	#game-grid {
		padding: 0;
	}
		#game-grid .game .game-inner .game-header {
			padding: 20px; 
			padding-top: 12px; }
	#game-grid .game .game-inner .game-icon {
		margin: 10px; }
		#game-grid .game .game-inner .game-icon i {
			font-size: 20px; }
			#game-grid .game .game-inner .game-header p {
				font-size: 20px; }
		#game-grid .game .game-inner .game-team .game-team-text {
			padding: 15px; }
			#game-grid .game .game-inner .game-team .game-team-text h4 {
				font-size: 20px; }
			#game-grid .game .game-inner .game-team .game-team-text h3 {
				font-size: 26px; }
}

#game-grid .game .game-inner .game-icon i {
	font-size: 23px; }
	#game-grid .game .game-inner .game-icon:hover {
		background-color: #EEEEEE; }

@media (min-width: 1000px) {
			#game-grid .game .game-inner .game-team {
				padding: 20px; }
				#game-grid .game .game-inner .game-team img {
					width: 150px;
					height: 150px; }
					#game-grid .game .game-inner .game-team .game-team-text {
						padding: 20px; }
}

@media (min-width: 1200px) {
	#game-grid .game {
		width: calc(100% / 2);
		padding: 20px; }
		#game-grid .game .game-inner .game-more-menu {
			width: 230px; }
			#game-grid .game .game-inner .game-more-menu p {
				padding: 10px 50px 10px 25px; }
		#game-grid .game .game-inner .game-more-menu p i {
				font-size: 22px;
				padding-right: 10px; }
}

#game-grid .active {
	width: 100%;
	flex-flow: 2; }