.game-content .game-content-main {
	margin: 0; }
	.game-content .game-content-main .col-lg-6 {
		margin: 0;
		background-color: #fff;
		padding: 20px 20px 0 20px; }
		.game-content .game-content-main .col-lg-6 .game-content-main-item {
			margin-bottom: 20px; }
		.game-content .game-content-main-players {
			display: flex;
			flex-direction: row; }
			.game-content .game-content-main h1 {
				padding: 10px 0;
				border-bottom: 1px solid #E0E0E0;
				margin-bottom: 20px;
				font-size: 20px; }
			.game-content .game-content-main-player {
				padding: 0 10px;
				display: flex;
				align-content: center;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: calc(100% / 3); }
				.game-content .game-content-main-player section {
					width: 152px;
					height: 152px;
					position: relative;
					padding: 8px; }
					.game-content .game-content-main-player .game-content-player-photo {
						width: 136px;
						height: 136px;
						border-radius: 100%;
						background-color: #CCD0D3; 
						background-position: center;
						background-size: cover;
						background-repeat: no-repeat; }
					.game-content .game-content-main-player .game-content-player-number {
						position: absolute;
						top: 0;
						left: 0;
						padding: 5px;
						font-size: 16px; }
				.game-content .game-content-main-player p {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					text-align: center;
					font-size: 16px; }
				.game-content .game-content-main-player .game-content-player-name {
					width: 100%;
					margin-bottom: 10px;
					border-bottom: 1px solid #E0E0E0;
					padding: 10px 0; }
					.game-content .game-content-main-player .game-content-player-name p {
						font-size: 18px; }
				.game-content .game-content-main-player .game-content-player-stats {
					width: 100%;
					flex-direction: column;
					display: flex; }
					.game-content .game-content-main-player .game-content-player-stats div {
						padding: 10px;
						text-align: center; }