.game-content {
	margin-top: 10px; }
	.game-content .game-content-inner {
		padding: 0; }
		.game-content .game-content-inner .col-md-6 {
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			height: 200px;
			margin: 0; }
		.game-content .game-content-inner p {
			color: #fff;
			font-weight: 700;
			font-size: 30px; }