.game-content-main-stats {
	padding: 0;
	margin: 0; }
	.game-content-main-stats table {
    border-collapse: collapse;
		margin: 0;
		padding: 0; }
		.game-content-main-stats table thead {
			border-top: 1px solid #006bb7;
			border-left: 1px solid #006bb7;
			border-right: 1px solid #006bb7; }
			.game-content-main-stats table thead th {
				background-color: #006bb7;
				font-size: 14px !important;
				color: #fff; }
		.game-content-main-stats table tbody {
			border-left: 1px solid #E0E0E0;
			border-right: 1px solid #E0E0E0;
			border-bottom: 1px solid #E0E0E0; }
			.game-content-main-stats table tbody tr {
				background-color: #fff; }
				.game-content-main-stats table tbody tr:nth-child(even) {
					background-color: #EEEEEE; }
		.game-content-main-stats tr .game-content-main-stats-player {
			word-wrap: break-word;
			max-width: 100px;
			width: 52% !important; }
			.game-content-main-stats .game-content-main-stats-player p {
				text-overflow: ellipsis;
				font-weight: 600;
				overflow: hidden;
				white-space: nowrap; }
		.game-content-main-stats table tr th, td {
			width: 6%; }
		.game-content-main-stats table tr th, td {
			font-size: 16px;
			padding: 10px !important; }
