.game-content {
	margin: 0; }
	.game-content .game-content-inner {
		padding: 0; }
	.game-content .game-content-inner .row {
		position: relative;
		padding: 0;
		margin: 0; }
		.game-content .game-content-close {
			transition: .2s all;
			z-index: 2;
			position: absolute;
			cursor: pointer;
			top: 0%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 100%;
			width: 60px;
			height: 60px;
			display: flex;
			align-items: flex-start;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center; }
			.game-content .game-content-close:hover {
				width: 70px;
				height: 70px;
				background-color: #E0E0E0; }
				.game-content .game-content-close:hover .material-icons {
					font-size: 30px; }
			.game-content .game-content-close .material-icons {
				color: #333;
				transition: .2s all;
				margin-top: 5px; }
		.game-content .game-content-vs {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #212121;
			border-radius: 100%;
			width: 100px;
			height: 100px;
			padding: 20px;
			display: flex;
			justify-content: center;
			align-content: center;
			z-index: 4; }
			.game-content  .game-content-vs p {
				line-height: 1.5;
				font-size: 40px;
				color: #fff;
				font-weight: 700; }
			.game-content .game-content-title-text {
				width: 194px; }
			.game-content .game-content-left .game-content-title {
				margin-right: 50px;
				flex-direction: row; }
				.game-content .game-content-left .game-content-title-text {
					text-align: right;
					margin: 0 40px 0 10px; }
			.game-content .game-content-right .game-content-title {
				margin-left: 50px;
				flex-direction: row-reverse; }
				.game-content .game-content-right .game-content-title-text {
					margin: 0 10px 0 40px; }
			.game-content .game-content-title h2 {
				padding: 10px;
				border-radius: 100%;
				font-size: 35px;
				color: #fff; }
		.game-content .game-content-team {
			z-index: 3;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			height: 180px;
			display: flex;
			justify-content: center;
			align-content: center;
			flex-direction: column;
			padding: 0;
			margin: 0; }

.game-content .game-content-title {
	display: flex;
	justify-content: center;
	align-items: center; }
	.game-content .game-content-title section {
		height: 159px;
  	width: 159px;
  	margin: 10px 0;
		cursor: pointer;
		background-position: center;
		background-size: cover;
		border-radius: 100%; }
	
	.game-content .game-content-title .game-content-title-text h2 {
		line-height: 0.8;
		font-weight: 400;
		padding: 0;
		margin-bottom: 5px;
		color: #fff;
		font-size: 30px; }
	.game-content .game-content-title .game-content-title-text h1 {
		line-height: 0.8;
		font-weight: 700;
		line-height: 0.8;
		padding: 0;
		margin-bottom: 10px;
		color: #fff;
		font-size: 35px; }
	.game-content .game-content-title .game-content-title-text p {
		color: #fff;
		line-height: 0.8;
		font-size: 20px;
		font-weight: 300; }

.game-content-info {
	background-color: #212121;
	display: flex;
	justify-content: space-between;
	align-content: center; }
	.game-content-info p {
		color: #fff;
		padding: 10px 20px;
		font-size: 20px; }

.game-content .game-content-inner .game-content-info-border {
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
}

