.main {
	margin: 0;
	border: 0;
	outline: 0;
	display: block;
	position: relative;
	padding: 0; }

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% {
		opacity: 0;
	}
}