@import url('../src/fonts/roboto/font.css');
@import url('../src/fonts/material-icons/font.css');

body {
	margin: 0;
	border: none;
	padding: 0; }
	body, h1, h2, h3, h4, h5 h6, p, i, a, bold, span, strong, div, section, nav, aside, li {
		font-family: 'Roboto', 'Arial', sans-serif;
		text-decoration: none;
		color: #333333;
		margin: 0; }

.index {
	margin: 0;
	border: 0;
	outline: 0;
	position: relative;
	padding: 0; }

.grid-loading {
	display: block;
	min-height: 100vh;
	margin: auto; }
	.grid-loading img {
		margin: auto;
		display: block;
		padding: 60px;
		height: 200px;
		width: 200px; }

.blink {
  animation: blinker 1s linear infinite; }

@keyframes blinker {  
  50% {
		opacity: 0;
	}
}